<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Response</title>
</head>
<body>
    <div>
        <p> Hello <%=name%>,
            <br>Thanks for contacting us, we will set your appointment with <%=user%> at <strong>
                <%=time%> on <%=date%> </strong>. We will contact you via your email @<%=email%> if there's any new update.
        </p>
    </div>
    
</body>
</html>